body {
    color: rgb(52, 231, 201);
    background: rgb(12, 232, 210);
    margin-right: 0px;


}

header {

     border-bottom: solid 2px rgb(12, 232, 210);
     padding: 20px;
     font-size: 32px;
     color: rgb(12, 232, 210);

}
section {
    background: rgba(147, 129, 211, 0.959);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}